*{
	background-color: whitesmoke;
}
header {
	box-sizing: 
}
h1	{
	background-color: cadetblue;
	color: white;
	margin-left: 100px;
	padding: 10px 20px 10px 20px;
	width: 200px;
}
a {
	float: right;
}

div ul{
	color:cadetblue;
	float: right;
}

div {
	background-color: white;
	color:cadetblue;
}
img {
	background-color: white;
	box-sizing: 100px;
	float: left;
}
ul {
	list-style-type: none;
}
